/*
@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;
*/
/*set @media queries*/

$header-blue: #3A5FCD;
$header-white: #FEFFF1;
$orange: #EE4000;

/**/
@mixin grid-area-header {
    display: grid;
    grid-area: header;
}
@mixin gridBtns-header {
    display: inline-grid;
    margin-top: 55px;
    margin-right: 25px;
    color: $header-white;
    font-size: 20px;

}
@mixin display-left-sidebars {
    display:inline-flex;
    width: 500px;
    height: 100px;
    text-align: center;
    margin-left: 4em;
}
@mixin font-sidebars {
    font-size: 30px;
    font-weight: 800;
}
@mixin main-img {
    display: grid;
    background-position: center;
}
@mixin icon-display {
    vertical-align: middle;
    font-size: 25px;
}
@mixin paragraph-align {
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 18px;
}
@mixin moibileMedia{
    @media only screen and (max-width: 400px) {
        height: 50%;
    }
}
@mixin boxed{
    border: 1px solid;
    text-align: center;
    color: #FEFFFf;
    border-radius: 15%;
}
@mixin img-boxes{
    display: flex;
    position: absolute;
    margin-left: 50px;
    margin-top: 250px;
}
@mixin btnbooknow{
    background-color: $orange;
    color: white;
    font-size: 18px;
    padding: 4px;
    border: none;
    border-radius: 10%;
}
@mixin articleText {
    display: flexbox;
    width:350px;
    height: 250px;
    letter-spacing: 2px;
    font-family: serif;
    margin-top: 35px;
}



/*Grid-Container*/
.container {
    @include moibileMedia;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    height: 100%;
    background-color: #FEFFEF;
    font-family: serif;

    grid-template-areas: "header header"
                         "left right"
                         "main main"
                         "article article"
                         "article article"
                         "article article";
    grid-template-rows: 125px 80px 300px 160px 300px 300px;
    grid-template-columns: 1fr 1fr;
}

/*Header*/
.header{
    @include grid-area-header;
    background: $header-blue;
    color: $header-white;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    @media only screen and (max-width: 400px) {
        display: grid;
        align-content: center;
        padding: 1em;
    }
}
.headerText{
    display: inline-grid;
    margin-top: 25px;
    margin-left: 3em;
    font-size: 30px;
    font-weight: bolder;
    justify-content: center;
    align-content: center;
}
.header-logo{
    display: inline-grid;
    background-image: url("https://cdn.clipart.email/2b87b397128f337717d56b91d8a63601_yellow-daisy-clip-art-icon-and-svg-svg-clipart_640-480.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 6em;
}
.btnlogin{
    @include gridBtns-header;
    background-color: $header-blue;

}
.btnregister{
    @include gridBtns-header;
    background-color: $orange;
    margin-right: 30px;
}

/*aside-left-sidebar*/
.left-sidebar {
    display:inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 30px;
    inline-size: 500px;
}
/*aside-right-sidebar*/
.right-sidebar{
    display: inline-grid;
    justify-content: center;
    align-content: center;
    grid-area: right;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
}
.question, .find {
    vertical-align: top;
}
.icon-question, .icon-find  {
    margin-top: 35px;
}

/*Main**/
.home-detail {
    display: grid;
    grid-area: main;
}
.main-img{
    display: grid;
    grid-area: main;
    grid-column: span;
    background-image: url("https://image.freepik.com/free-photo/three-buckets-with-sand-spade-beach_1252-520.jpg");    
    background-repeat: no-repeat;
    width: 900px;
    height: 300px;
    justify-content: center;
    justify-self: center;
}
.imgText{
    display: flex ;
    position: absolute;
    margin-left: 50px;
    font-size: 18px;
}
.btnbooknow {
    display: inline-flex;
    position: absolute;
    margin-top: 125px;
    margin-left: 50px;
    @include btnbooknow;
}
.icons {
    @include img-boxes;
    width: 350px;
    align-self: flex-end;
    font-size: 14px;
}
.boxed1 {
    @include boxed;
    border: #00008B;
    background-color: #00008B;
}
.boxed2 {
    @include boxed;
    border: #00CDCD;
    background-color: #00CDCD;
}
.boxed3 {
    @include boxed;
    border: #5F9EA0;
    background-color: #5F9EA0;
}
/*paragraph-article*/
.paragraph{
    display: grid;
    grid-row: 4;
    grid-column: 1/3;
    padding-top: 4em;
    justify-content: center;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: serif;
}

/*Left-Article*/
.left-article{
    display: grid;
    grid-row: 5/7;
    grid-column: 1;
    font-size: 15px;
    inline-size: 500px;
    justify-content: center;
    padding-left: 1em;
}


.when {
    @include articleText;
    background-color: #F0F8FF;
}
.how {
    @include articleText;
    background-color: #FAEBD7;
}

.important {
    @include articleText;
    background-color: #FDFCDC;
}
.right-article {
    display: inline-grid;
    grid-column: 2;
    grid-row: 5/7;
    font-size: 15px;
    inline-size: 500px;
    justify-content: center;

}

.btnbooknow-bottom{
    @include btnbooknow;
}

