<div class="container">

  <header class="header">
    <div class="header-logo">
      <p class="headerText">DAISYholiday</p>
    </div>
    <div>
      <button type="button" onclick="login()" class="btnlogin">
        <!--<img data-cfsrc="https://cdn3.iconfinder.com/data/icons/shopping-and-ecommerce-1-5/48/53-512.png" alt="baby, boy, child, face, smile icon" class="d-block mx-auto" src="https://cdn3.iconfinder.com/data/icons/shopping-and-ecommerce-1-5/48/53-512.png" width="40" height="40">-->
        LOGIN
      </button>
      <button type="button" onclick="register()" class="btnregister">REGISTER</button>
    </div>
  </header>


  <aside class="left-sidebar">
    <div>
      <p class="intro">Introducing&nbsp;<strong>Daisy</strong>Holiday</p>
    </div>
  </aside>
  <aside class="right-sidebar">
    <div class="icon-question"><a href=""><img
        src="https://www.vippng.com/png/full/96-963744_download-free-png-mark-2-number-in-circle.png"
        alt="Transparent question mark icon png transparent - Download Free Png Mark - 2 Number In Circle "
        width="30" height="30"></a>
      <label class="question">Ask a Question</label>
    </div>
    <div class="icon-find"><a href="">
        <img src="https://cdn3.iconfinder.com/data/icons/flaticons-1/24/flaticon_search-512.png" alt="flaticon, search icon" 
        class="d-block mx-auto"  width="35" ; height="35"></a>
        <label class="find">Find Daisies</label>
    </div>
  </aside>

  <main class="home-detail">
    <div class="main-img">
     <div class="imgText"><h2>Make your next family trip<br>a hassle-free one.</h2></div> 
     <button type="button" onclick="booknow()" class="btnbooknow">BOOK NOW</button>
     <div class="icons">
       <div class="boxed1"><h3>Total Bookings</h3></div> &nbsp;
       &nbsp;
       <div class="boxed2"><h3>Hours Logged</h3></div> &nbsp;
       &nbsp;
       <div class="boxed3"><h3>Average Rating</h3></div>
     </div>
    </div>
  </main>

  <div class="paragraph">
    <article>
      Quisque ut felis tincidunt, blandit nisl ac, vulputate dui. Quisque ut felis tincidunt, blandit nisl ac, vulputate. Quisque ut felis tincidunt, blandit nisl ac.<br>
      Vivamus eget pharetra augue, sed interdumpurus. Vivamus eget pharetra augue, sed interdumpurus. Vivamus eget pharetra augue, sed interdumpurus.<br>
      Fusce a cursus libero. Duis sit amet tellus risus. Fusce a cursus libero. Duis sit amet tellus risus. Duis sit amet tellus risus.<br>
      Nam quis accumsan lectus, vel pulvinarnibh. Nam quis accumsan lectus, vel pulvinarnibh. Nam quis accumsan lectus, vel pulvinarnibh.<br>
    </article>
  </div>

  <div class="left-article">
    <article>
      <div class="when">
        <h1>When to use the Service</h1>
        <br>
        <p>
          Quisque ut felis tincidunt, blandit nisl ac, vulputate dui.
          Vivamus eget pharetra augue, sed interdumpurus.
          Fusce a cursus libero. Duis sit amet tellus risus.
          Nam quis accumsan lectus, vel pulvinarnibh.
          Maecenas iaculis, mi ut feugiat vulputate,
          erat lacus luctus dolor.
        </p>
      </div>
      <div class="how">
        <h1>How much does it cost?</h1>
        <br>
        <p>
          Quisque ut felis tincidunt, blandit nisl ac, vulputate dui.
          Vivamus eget pharetra augue, sed interdumpurus.
          Fusce a cursus libero. Duis sit amet tellus risus.
          Nam quis accumsan lectus, vel pulvinarnibh.
          Maecenas iaculis, mi ut feugiat vulputate,
          erat lacus luctus dolor.
        </p>
      </div>
    </article>
  </div>

  <div class="right-article">
    <article>
      <div class="important">
        <h1>Important things to know</h1>
        <br>
        <p>
          Quisque ut felis tincidunt, blandit nisl ac, vulputate dui.
          Vivamus eget pharetra augue, sed interdumpurus.
          Fusce a cursus libero. Duis sit amet tellus risus.
          Nam quis accumsan lectus, vel pulvinarnibh.
          Maecenas iaculis, mi ut feugiat vulputate,
          erat lacus luctus dolor.
        </p>
      </div>
        <div>
          <h1>Get Started</h1>
          <button type="button" onclick="booknow()" class="btnbooknow-bottom">BOOK NOW</button>
        </div>
        <img id="details-enlarged-image" class="js-search-result-thumbnail responsive-img" 
        src="https://as2.ftcdn.net/jpg/02/74/44/39/500_F_274443924_jfPlJpmqQSIQkAS8Af3Hy0Gk7Jh9AgSk.jpg" 
        alt="Happy family travelling by car, vacation trip" itemprop="thumbnail" data-content-id="274443924" width="300" height="250">
    </article>
  </div>







</div>